@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(0, 0, 0); }
  }
  
  .typing {
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation: blink-caret .75s step-end infinite;
  }
  
  .no-caret {
    border-right: none; /* Hide the caret */
  }