#presentation {
    padding: 20px; /* ajoute de l'espace entre les sections */
}

.presentation-box {
    background-color: #9255c5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 80%;
    margin: 20px;
  }
  
  .presentation-box p {
    margin: 0;
    font-size: 2em;
    line-height: 1.5;
    color: white;
  }